@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:wght@500&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:wght@500&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: white;
  color: #000;
  /**this is so if there is element beyond the screen width, it will be hidden and not make a new scroll**/
}

/*section {
  padding: 5rem 7%;
} this means that from the "section" parts, there will be padding*/

nav {
  position: fixed;
  top: 0;
  /**position from the top**/
  left: 0;
  background: white;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
  font-family: "Open Sans", serif;
  width: 100%;
  height: 65px;
  display: flex;
  justify-content: space-between;
  /**to make a space between the content like in the website**/
  align-items: center;
  padding: 0 120px;
  z-index: 90;
}

.logo {
  height: 45px;
  width: 170px;
}

nav ul {
  list-style: none;
  display: flex;
}

nav li {
  margin-left: 50px;
}

nav a {
  text-decoration: none;
  color: #354151;
  font-weight: 700;
}

/* whenever you set the css display, chose the second name or the name where it doesnt share name in other sections.
 else if you do, then even when you change settings it wont change from the first setting*/
/*this is for the top slide swiper*/
.mySwiper {
  width: 100%;
  height: 80vh;
  margin-top: 120px;
  margin-bottom: 40px;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}


.autoplay-progress {
  position: absolute;
  right: 16px;
  bottom: 16px;
  z-index: 10;
  width: 48px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  color: var(--swiper-theme-color);
}

.autoplay-progress svg {
  --progress: 0;
  position: absolute;
  left: 0;
  top: 0px;
  z-index: 10;
  width: 100%;
  height: 100%;
  stroke-width: 4px;
  stroke: var(--swiper-theme-color);
  fill: none;
  stroke-dashoffset: calc(125.6px * (1 - var(--progress)));
  stroke-dasharray: 125.6;
  transform: rotate(-90deg);
}

.img-size {
  background-size: cover;
}


.toppicks {
  width: 100%;
  height: 40vh;
}

/*from here is toppicks slide*/
.toppicimg {
  height: 200px;
  width: 150px;
  border-radius: 25px;
  overflow: hidden;
  margin-top: 30px;
}


.heading {
  font-family: "Montserrat", serif;
  font-size: 30px;
  font-weight: 300;
  color: #354151;
  text-align: center;
  padding-top: 40px;
}

/*from here is venue section*/
.venue {
  margin-top: 100px;
  margin-bottom: 100px;
}

/*this is where you put the display flex for the whole div boxes*/
.venue-container {
  padding: 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1em;
  /*gap for between flexbox*/
}

.venue-container1 {
  height: 250px;
  width: 250px;
  border-radius: 40px;
  align-content: center;
  vertical-align: middle;
}

.div {
  display: flex;
  justify-content: center;
  align-items: center;
}


.btn {
  border: 2px solid white;
  background-color: transparent;
  padding: 16px 32px;
  border-radius: 40px;
  font-family: "Open Sans", serif;
  font-weight: bold;
  color: white;
  font-size: 16px;
}

.btn:hover {
  background-color: white;
  color: black;
}

/*venue container end*/

/*info banner starts here*/
.infobanner {
  width: 100%;
  height: 476px;
  background-color: #D7DCE2;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.infobanner h2 {
  margin-top: 60px;
  margin-bottom: 28px;
  font-size: 40px;
  font-weight: 700;
  font-family: "Montserrat", serif;
}

.infobanner .infobannerbox-group {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 54px;
  margin-top: 30px;
}

.infobanner-box div {
  width: 95px;
  height: 95px;
  border-radius: 50%;
  background-color: #FFFFFF;
  display: flex;
  align-items: center;
  justify-content: center;
}

.infobannerbox-group .infobanner-box {
  width: 340px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-bottom: 120px;
}

.infobanner-box h3 {
  margin-top: 18px;
  font-size: 20px;
  font-weight: 400;
  font-family: "Montserrat", serif;
}

.infobanner-box p {
  margin-top: 8px;
  font-size: 14px;
  font-family: "Montserrat", serif;
  line-height: 1.4;
  text-align: center;
}

/*area*/
.area {
  margin-top: 100px;
  margin-bottom: 100px;
}

.area-container {
  padding: 20px;
  display: flex;
  justify-content: center;
  gap: 1em;
  /*gap for between flexbox*/
}

.area-container1 {
  height: 150px;
  width: 150px;
  border-radius: 40px;
  align-content: center;
  vertical-align: middle;
}

.area-container1 .btn {
  border: 2px solid white;
  background-color: transparent;
  padding: 10px 20px;
  border-radius: 40px;
  font-family: "Open Sans", serif;
  font-weight: bold;
  color: white;
  font-size: 16px;
}

.headingsection {
  font-family: "Montserrat", serif;
  font-size: 30px;
  font-weight: 300;
  color: #354151;
  text-align: center;
  padding-top: 40px;
  padding-bottom: 40px;
}

.area-container1 {
  height: 150px;
  width: 150px;
  border-radius: 40px;
  align-content: center;
  vertical-align: middle;
}

.area-container1 .btn {
  border: 2px solid white;
  background-color: transparent;
  padding: 10px 20px;
  border-radius: 40px;
  font-family: "Open Sans", serif;
  font-weight: bold;
  color: white;
  font-size: 16px;
}

.headingsection {
  font-family: "Montserrat", serif;
  font-size: 30px;
  font-weight: 300;
  color: #354151;
  text-align: center;
  padding-top: 40px;
  padding-bottom: 40px;
}

/*offer starts*/
.offers {
  width: 100%;
  height: 476px;
  background-color: #D7DCE2;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  row-gap: 30px;
}

.offers h3 {
  margin-top: 18px;
  font-size: 20px;
  font-weight: 400;
  font-family: "Montserrat", serif;
}

.offers .offer-group {
  display: flex;
  align-items: center;
  gap: 30px;
}

.offers .offer {
  width: 345px;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 30px;
}

.offer h2 {
  font-size: 28px;
  font-weight: 700;
  color: white;
  font-family: "Montserrat", serif;
  text-align: center;
}